
// 面板相关颜色值
$panel-bg-color                     : rgba(255, 255, 255, 0.9);
$panel-border-color                 : rgba(44, 132, 206, 0.39);
$panel-text-color                   : #5bb0d1;
$panel-text-highlight-color         : #b8deff;
$panel-hover-bg-color               : rgba(0, 61, 112, 0.6);

// 面板倒角颜色值
$panel-mini-angle                   : #2e79b8;
$panel-mini-angle-jj                : #50afff;
$panel-btn-color                    : #2f6e9d;

// 列表序号颜色值
$index-bg                           : #003562;
$index-color                        : #50afff;

// 输入框相关颜色值
$input-background-color             : rgba(0, 61, 112, 0.6);
$input-placeholder-color            : #2e79b8;
$input-focus-background-color       : #35a1ef;
